cache
**/*h5ad
.ipynb_checkpoints/
data/*_raw_feature_bc_matrix
data/MultiSeq_annotation_prefiltered_mtx.csv
**/.*
**/*.gz
**/*xlsx
**filteredCells.tsv
**.mtx
singularity_open_ports.dat
pbs_singularity_service.log
*/figures
R
checkMBSize.sh
.local
**/*.gtf
**/*.vcf
**WGS_Matched_loci.kolf.tsv
**Jerber_scASE.tsv
data/output/*
**backup
06_Spatial
data/visium
GT_*.log
GT_*.bash
submit*
ThesisFigs
**__pycache__**
combined_LD.parsed.txt
combined_eQTLs.parsed.tsv
slurm_singularity_service.log
**CellplexOuts
data/cellplexDS/*
data/census_seq/*
data/imaging_data/*
